<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ingresar_receta.css">
    <link rel="stylesheet" href="../css/tabla_recetas.css">
    <title>Editar recetas</title>
</head>
<body>
    <header id="header"></header>

    <main>
        <section>

            <div class="container-form">
                <form>
                   
                    <div>
                        <label for="id">ID</label>
                        <input type="number" name="id" id="id" disabled>
                    </div>
            
                    <div class="entrada">
                        <label for="receta">Receta</label>
                        <input type="text" name="receta" id="receta">
                    </div>

                    <div class="entrada">
                        <label for="dificultad">Dificultad:</label>
                        <input type="number" name="dificultad" id="dificultad">
                    </div>

                    <div class="entrada">
                        <label for="duracion">Duración minutos:</label>
                        <input type="number" name="duracion" id="duracion">
                    </div>

                    <div class="entrada">
                        <label for="ingredientes">Ingredientes:</label>
                        <input type="text" name="ingredientes" id="ingredientes">
                    </div>

                    <div class="entrada">
                        <label for="pasos">Pasos:</label>
                        <input type="text" name="pasos" id="pasos">
                    </div>
                   
                    <div class="entrada">
                        <label for="imagen">Imagen:</label>
                        <input type="text" name="imagen" id="imagen">
                    </div>

                    
                    <button class="modificar" type="button" onclick="modificar()">Modificar</button>
                </form>
          
          
              </div>

        </section>
    </main>

    
    <footer></footer>

    <script src="../js/editar_receta.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/datos_editar.js"></script>
</body>
</html>